@charset "utf-8";

@media screen and (min-width: 640px){
    main{
        width: 70vw;
        
    }
    .loginIMG{
        float: left; /* ORGANIZAR ELEMENTO A ESQUERDA */
        display: block;
        width: 600px;
        height: 700px;
        
        
    }
    
    .loginMain{
        float: right; /* ORGANIZAR ELEMENTO A DIREITA */
        display: block;
        width: 600px;
        height: 700px;
    }
}